 th,
 td {
     border: 1px solid black !important;
     padding: 10px;
 }

 .xField {
     float: right;
 }

 #forma {
    display: none;
 }

 table{
    width: 100%;
 }

 .bezPaddinga   {
padding-left: 0px !important;
padding-right: 0px !important;
 }

 